@use "sass:color";
@use '../colors/index';

configuration {
  display-drun: "Applications: ";
  display-calc: "Calculate: ";
  drun-display-format: "{icon} {name}";
  modi: "window,run,drun,calc";
  show-icons: true;
  icon-theme: "Papirus"
}

@theme "/dev/null"

* {
  border-width: 0;
  color: index.$fg;
  background-color: index.$bg;
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
  text-color: index.$fg;
  vertical-align: 0.5;
}

inputbar {
  padding: 5px;

}

entry {
  cursor: pointer;
  cursor-color: index.$fg-alt;
  cursor-width: 1px;
  hide-cursor-on-empty: true;
  border-width: 0;
  height: 20px;
  padding: 5px;
  background-color: index.$bg-alt;
  border-radius: 7px;
}

prompt {
  padding: 5px;
}

listview {
  padding: 5px;
}

window { 
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}

element-text {
  vertical-align: 0.5;
}

element-text selected.normal {
  background-color: index.$bg-selected;
}

element-icon selected.normal {
  background-color: index.$bg-selected;
}

element {
  border-radius: 7px;
}

element-icon {
  size: 35;
}