@use "sass:color";
@use '../colors/index';

$base-padding: 0.3rem;
$child-padding: 0.3rem;
$roundiness: 0.8rem;

* {
    all: unset;
    font-size: 1.02em;
    color: index.$fg;
    padding:0;
    // font-family: 'Proxima Nova Rg';
}

.modules-left {
    padding: 0.35rem;
    margin: 5 0 0 5;
    border-radius: $roundiness;
    background: index.$bg;
}

.modules-center {
    padding: 0.35rem;
    margin: 5 0 0 0;
    border-radius: $roundiness;
    background: rgba(index.$bg, 1);
}

.modules-right {
    padding: 0.35rem;
    margin: 5 5 0 0;
    border-radius: $roundiness;
    background: rgba(index.$bg, 1);
}

tooltip {
    background: rgba(index.$bg, 1);
    border-radius: $roundiness;
    color: index.$fg;
    padding: 0.55rem;
}

#taskbar button {
    padding: 0.1rem;
    padding-top: 0;
    padding-bottom: 0;
}

//all modules
#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#custom-pmenu,
#custom-cmenu,
#wireplumber,
#tray,
#window,
#submap,
#taskbar,
#temperature,
#idle_inhibitor,
#mpris,
#custom-audio_idle_inhibitor,
#custom-drun,
#power-profiles-daemon {
    transition: all .3s ease;
    padding: $base-padding;
    padding-top: 0;
    padding-bottom: 0;
}



#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#wireplumber:hover,
#custom-cmenu:hover,
#custom-pmenu:hover,
#workspaces button:hover,
#taskbar button:hover,
#idle_inhibitor:hover,
#custom-audio_idle_inhibitor:hover,
#custom-drun:hover,
#power-profiles-daemon:hover {
    color: index.$fg-alt;
    background: rgba(0, 0, 0, 0);
    border: 0;
}

#tray menu {
    background: rgba(index.$bg, 1);
    padding: 0.6rem;
    border-radius: $roundiness;
}

#tray button {
    color: index.$fg;
}


#taskbar button {
    padding: 0;
    padding-left: $child-padding;
    padding-right: $child-padding;
    color: index.$fg;
}

#workspaces button {
    padding: 0;
    padding-left: $child-padding;
    padding-right: $child-padding;
    color: index.$fg;
}

#workspaces button.active {
    color: index.$fg;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, .2);
}

#workspaces button.empty.active {
    color: index.$fg;
    border: none;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand {
    transition: all .3s ease;
}

#custom-expand {
    color: rgba(index.$fg, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#cpu,
#memory,
#temperature {
    transition: all .3s ease;
    color: index.$fg;
}

#power-profiles-daemon {
    padding-left: 0.35rem;
}