<<<<<<< HEAD
$bg:   #121b25;
$bg-alt: #586581;
$bg-selected: #4d6dc6;

$fg: #ffffff;
$fg-alt: #72b0fc;
=======
$bg:   #221010;
$bg-alt: #815858;
$bg-selected: #c64d4d;

$fg: #ffffff;
$fg-alt: #fe7878;
>>>>>>> 57bf19695954b32e6b0769932e90ac43272e6b50
