@use "sass:color";
@use '../themes/_index';

window {
    margin: 0px;
    border: 10px solid #1e1e2e;
    background-color: #cdd6f4;
    border-radius: 20px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: index.$bg-alt;
    /* background: ; */
   	outline: none;
    border-radius: 20px;
    margin: 10px 13px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid #1e1e2e;
    margin-bottom: 0px;
}

#inner-box {
    margin: 10px;
    color: index.$fg;
    font-weight: bold;
    background-color: index.$bg;
    /* background-color: red; */
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: 0;
    border-radius: 20px;
    background-color: index.$bg;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    background-color: transparent;
    margin-right: 10px;
    border-radius: 10px;
}

#text:selected {
    color: black;
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: index.$bg-selected;
}